.label {
  flex: 1;
  margin-bottom: 2rem;
  width: 100%;
}

.label p {
  margin-bottom: 0.3rem;
  margin-left: 0.5rem;
  font-size: 0.6rem;
}

.label span {
  color: var(--accent);
  font-size: 0.8rem;
  float: right;
}

.label input, .label select {
  width: 100%;
  border-radius: 0.4rem;
  padding: 1rem;
  font-weight: 400;
}